.heading{
    font-size: 4rem;
    color: greenyellow;
    text-align: center; 
    text-decoration: underline red;
}

.element-btn{
    background: purple;
    border-radius: 2px;
    padding: 2px 3px;
}

.mon-profile{
    width: 200px;
}

.relative{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.supprimer-btn{

    background: rgb(202, 61, 61);
    width: 25px;
    height: 25px;
    padding-bottom: 1px;
    border-radius: 50%;
    position: absolute;
    right: calc(50% - 100px);
    top: calc(50% - 100px);

    visibility: hidden;

}