

body {
 margin: 0;
 padding: 0;
}

a {
  text-decoration: none;
  color:black
}

.container {
 
  display: flex;
  flex-direction: column;
  align-items: center;

}

.item2 {
  border-top: 5px solid greenyellow;
  border-bottom: 5px solid greenyellow;
  border-radius: 2px;
  height: 55px;
  padding-right: 15px;
  padding-left: 15px;
}

.item2:hover {
  scale: 10%;
  background-color: rgba(184, 135, 11, 0.178);
}

