.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background:rgba(128, 128, 128, 0.459);
  
}

a:link{
  text-decoration: none;
  color: black;
}

.navigation1 {
  font-size: 20px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid coral;
}

.navigation1:hover{
  background:rgba(128, 128, 128, 0.459);
  width: 400px;
  height: auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: green;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titre-be {
  font-size: 50px;
  background-color: darkseagreen;
}

.titre-be:hover{
  background-color: darkgoldenrod;
}
